/* Style of the clock */
.hand {
  position: absolute;
  background: #000;
  transform-origin: center;
}
/* Style of the hour-hand */
.hour-hand {
  width: 6px;
  height: 50px;
  z-index: 3;
  background-color: yellowgreen;
}
/* Style of the min-hand */
.min-hand {
  width: 4px;
  height: 70px;
  z-index: 2;
  background-color: olive;
}
/* Style of the second-hand */
.second-hand {
  width: 2px;
  height: 80px;
  z-index: 1;
  background-color: mediumslateblue;
}
/* Centers the clock */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-image: linear-gradient(to bottom left,crimson,orange,coral,red);
}
.clock {
  /* Additional styling for the clock container */
  width: 400px; /* Sets the width */
  height: 400px; /* Sets the height */
  border: 0px solid #000; /* Sets the color of the border */
  border-radius: 50%; /* Sets the border radius */
  position: relative; /* Sets the position to relative */
  display: flex;
  justify-content: center; /* Centers the content */
  align-items: center; /* Centers the items */
  background: url(images/romanClock.png); 
  /* Sets an image as the background */
  background-color: silver; /* Sets the background-color to silver */
}
/* Center the clock */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Sets the height to 100vh*/
  margin: 0; /* Sets the margin to 0 */
}
.clock {
  /* Additional styling for the clock container */
  width: 420px; /* Set the desired width */
  height: 420px; /* Set the desired height */
  border: 0px solid #000; /* Sets the border to 0px */
  border-radius: 50%; /* Sets the border radius to 50%  */
  position: relative;
  background: url(images/romanClock.png)
    no-repeat center center;
    background-size: cover;
}
/* Styles for clock hands */
.hand {
  position: absolute;
  background: #000;
  transform-origin: 50% 100%; /* Set the rotation point to the bottom center */
  left: 50%;
  bottom: 50%;
}
/* Styles the hour-hand */
.hour-hand {
  width: 5px;
  height: 100px;
  z-index: 3;
  background-color: black;
}
/* Styles the minute-hand */
.min-hand {
  width: 3.5px;
  height: 150px;
  z-index: 2;
  background-color:black;
}
/* Styles the second-hand */
.second-hand {
  width: 2.5px;
  height: 180px;
  z-index: 1;
  background-color: crimson;
}
