/* Style of the clock */
.hand {
  position: absolute;
  background: #000;
  transform-origin: center;
}
/* Style of the hour-hand */
.hour-hand {
  width: 6px;
  height: 50px;
  z-index: 3;
  background-color: yellowgreen;
}
/* Style of the min-hand */
.min-hand {
  width: 4px;
  height: 70px;
  z-index: 2;
  background-color: olive;
}
/* Style of the second-hand */
.second-hand {
  width: 2px;
  height: 80px;
  z-index: 1;
  background-color: mediumslateblue;
}
/* Centers the clock */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: silver;
}
.clock {
  /* Additional styling for the clock container */
  width: 400px; /* Sets the width */
  height: 400px; /* Sets the height */
  border: 0px solid #000; /* Sets the color of the border */
  border-radius: 50%; /* Sets the border radius */
  position: relative; /* Sets the position to relative */
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(images/47-471753_clock-no-hands-png-clipart-transparent-roman-clock.png);
  background-color: silver;
}
/* Center the clock */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.clock {
  /* Additional styling for the clock container */
  width: 450px; /* Set the desired width */
  height: 450px; /* Set the desired height */
  border: 0px solid #000;
  border-radius: 50%;
  position: relative;
  background: url(images/47-471753_clock-no-hands-png-clipart-transparent-roman-clock-removebg-preview.png)
    no-repeat center center;
  background-size: cover;
}
/* Styles for clock hands */
.hand {
  position: absolute;
  background: #000;
  transform-origin: 50% 100%; /* Set the rotation point to the bottom center */
  left: 50%;
  bottom: 50%;
}
.hour-hand {
  width: 5px;
  height: 100px;
  z-index: 3;
  background-color: darkgray;
}
.min-hand {
  width: 3.5px;
  height: 150px;
  z-index: 2;
  background-color: grey;
}
.second-hand {
  width: 2.5px;
  height: 180px;
  z-index: 1;
  background-color: gray;
}
/* Adjusted positioning for markings */
.marking {
  width: 2px;
  height: 10px;
  top: 5%;
  left: 50%;
  transform-origin: 50% 100%;
}
.marking:nth-child(1) {
  transform: rotate(30deg);
}
.marking:nth-child(2) {
  transform: rotate(60deg);
}
.marking:nth-child(3) {
  transform: rotate(90deg);
}
.marking:nth-child(4) {
  transform: rotate(120deg);
}
.marking:nth-child(5) {
  transform: rotate(150deg);
}
.marking:nth-child(6) {
  transform: rotate(180deg);
}
.marking:nth-child(7) {
  transform: rotate(210deg);
}
.marking:nth-child(8) {
  transform: rotate(240deg);
}
.marking:nth-child(9) {
  transform: rotate(270deg);
}
.marking:nth-child(10) {
  transform: rotate(300deg);
}
.marking:nth-child(11) {
  transform: rotate(330deg);
}
.marking:nth-child(12) {
  transform: rotate(0deg);
}
